* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo_list {
    background-color: grey;
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

#enter_task, #add_task {
    padding: 1rem;
    margin: 2rem 3rem 0 3rem;
    border-radius: 5px;
    border: transparent;
}

#add_task:hover, .remove:hover {
    background-color: darkgrey;
}
#add_task {
    width: max-content;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 5px;
    border: transparent;
}
.ul {
    list-style: none;
    padding: 2rem;
}

li {
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.remove {
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: transparent;
}
